html {
  font-family: sans-serif;
}

body {
  background-color: rgb(231, 239, 241);
}

h1 {
  text-align: center;
}

.container {
  width: min(600px, 90vw);
  height: min(600px, 90vw);
  background-color: skyblue;
  margin: auto;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 3px;
  margin-bottom: 30px;
}

.gameboard-cell {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start {
  width: 200px;
  height: 60px;
  background-color: rgb(209, 68, 12);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
}

.start:hover {
  background-color: rgb(206, 76, 24);
}
